* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ddd;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  margin: 40px;
}

img {
  width: 100%;
}

.container {
  display: grid;
  gap: 5px;
}

/* Header */
header {
  display: grid;
  grid-template-areas: 'hero feature-1'
    'hero feature-2';
}

.hero-image {
  grid-area: hero;
  background: url('img/food.jpg') center / cover;
  min-height: 300px;
  padding: 20px;
}

.hero-image>* {
  display: none;
}

.features {
  display: grid;
  place-content: center;
  color: #fff;
  text-align: center;
}

.feature-1 {
  grid-area: feature-1;
  background: url('img/pizza.jpg') center / cover;
}

.feature-2 {
  grid-area: feature-2;
  background: url('img/cake.jpg') center / cover;
}

.price {
  font-size: 2em;
  font-weight: 200;
}

.item {
  font-size: 1.5em;
  font-weight: 200;
}

/* Navigation */
nav {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  order: -1;
}

nav .brand {
  color: #333;
  font-size: 1.4em;
}

nav ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 5px;
}

nav li a {
  display: block;
  background-color: #000;
  color: #fff;
  padding: 5px;
  text-decoration: none;
  text-align: center;
}

.hamburger-menu {
  position: absolute;
  top: 10px;
  right: 35px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 15px;
  cursor: pointer;
  z-index: 99;
}

.hamburger-menu span {
  display: block;
  background-color: #000;
  width: 20px;
  height: 3px;
  border-radius: 5px;
  transition: all .5s;
}

.navbar span:nth-child(1) {
  transform: rotate(-45deg) translate(0, 8px);
}

.navbar span:nth-child(2) {
  transform: scale(0);
  opacity: 0;
}

.navbar span:nth-child(3) {
  transform: rotate(45deg) translate(0, -8px);
}

/* About */
.about {
  display: grid;
  grid-template-columns: auto auto;
  order: 2;
  gap: 10px;
  margin-top: 10px;
}

.about h3 {
  grid-column: 1 / -1;
  text-align: center;
}

.visi,
.misi {
  padding: 20px;
  border-right: 1px solid #333;
}


/* Services */
.services {
  display: grid;
  order: 3;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  text-align: center;
  margin-top: 5px;
}

.services .service {
  border: 1px solid #333;
  padding: 5px;
}

.services .icon {
  font-size: 1.5em;
}

/* Contact */
.contact {
  display: grid;
  order: 3;
  background: url('img/map.jpg') no-repeat center / cover;
  max-height: 200px;
  text-align: center;
}

.contact .info {
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
  width: 50%;
  margin: 15px auto;
  padding: 10px;
  border-radius: 10px;
}

.contact .info i {
  font-size: 1.3em;
}

/* Footer */
footer {
  display: grid;
  order: 4;
  grid-template-columns: repeat(3, 1fr);
  background-color: #eee;
  padding: 10px;
  text-align: center;
}

footer a {
  color: #000;
  font-size: 0.9em;
}

footer p {
  grid-column: 1 / -1;
  font-size: 0.7em;
}

/* Responsive Design */
@media only screen and (max-width: 1024px) {
  nav {
    grid-template-columns: 1fr;
    order: 1;
  }

  nav .brand {
    display: none;
  }

  .hero-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  .hero-image>* {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    color: #eee;
    padding: 5px 10px;
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 768px) {
  nav {
    order: -1;
  }

  nav ul {
    position: absolute;
    top: -100%;
    right: 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #000;
    width: 84%;
    height: 50vh;
    transition: all .5s;
  }

  .hamburger-menu {
    display: flex;
  }

  nav ul.active {
    top: 35px;
  }

  .services {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width:576px) {
  body {
    margin: 30px;
  }

  header {
    grid-template-areas: 'hero'
      'feature-1'
      'feature-2';
  }

  .contact .info {
    font-size: 0.8em;
  }

  .contact .info i {
    font-size: 1em;
  }
}